<section id="Tất cả" class="p-5 bg-light">
  <div class="container">
    {{!-- <h2 class="text-left text-blue">Tất cả</h2> --}}
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner rounded-5 shadow-4-strong">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="img/img1.jpg" class="d-block rounded mx-auto w-75" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="img/img2.jpg" class="d-block rounded mx-auto w-75" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/img3.jpg" class="d-block rounded mx-auto w-75" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>


<section id="Thịnh hành" class="p-5 bg-light">
  <div class="container">
    <h2 class="text-left text-dark">Thịnh hành</h2>
    <div class="row g-4">
      {{#each books_item}}
      <div class="row g-4">
        {{#each this}}
        <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <a href="/books/{{this.title}}">
              <img class="card-img img-thumbnai" src="{{this.image}}" alt={{this.title}}>
            </a>
          </div>
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section id="Mới nhất" class="p-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 class="text-left text-blue">Mới nhất</h2>
      </div>

      <div class="col-12">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                {{#each books_active}}
                <div class="col-md-3 mb-3">
                  <div class="card bg-light">
                    <a href="/books/{{this.title}}">
                      <img class="card-img img-thumbnai" src="{{this.image}}" alt={{this.title}}>
                    </a>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>

            {{#each books_item}}
            <div class="carousel-item">
              <div class="row">
                {{#each this}}
                <div class="col-md-3 mb-3">
                  <div class="card bg-light">
                    <a href="/books/{{this.title}}">
                      <img class="card-img img-thumbnai" src="{{this.image}}" alt={{this.title}}>
                    </a>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>