<div class="container p-5 bg-light border border-3 rounded">
    <div class='mt-4'>
        <h3>Chỉnh sửa sách</h3>
        <form method="POST" action="/books/{{book.book_id}}?_method=PUT">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" value="{{book.title}}" id="title">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" id="description">{{book.description}}</textarea>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" name="price" class="form-control" value="{{book.price}}" id="price">
            </div>

            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="text" name="rating" class="form-control" value="{{book.rating}}" id="rating">
            </div>

            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" name="amount" class="form-control" value="{{book.amount}}" id="amount">
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" name="image" class="form-control" value = "{{book.image}}" id="image">
            </div>

            <button type="submit" class="btn btn-primary">Cập Nhật</button>
        </form>
    </div>
</div>