<div class="container mt-4">
    <div class="row">
        <div class="">
            <button class="btn btn-primary btn-sm">Đọc</button>
            <button class="btn btn-primary btn-sm">Mua</button>
            
            <a href="/books/delete/{{book.title}}">
                <button class="btn btn-primary btn-sm">Xóa</button>
            </a>
            
            <a href="/books/edit">
                <button class="btn btn-primary btn-sm">Chỉnh sửa</button>
            </a>
        </div>

        <div class="col-lg-9 text-center">
            <h2>{{book.title}}</h2>
            <img src="{{book.image}}">
            <h3>{{book.price}}.000 VNĐ</h3>
            <p>{{book.description}}</p>
        </div>
    </div>
</div>